In [1]:
class Vehicle:
    def __init__(self,name,year):
        self.name=name
        self.year=year
    def start(self):
        print(self.name,"Vehicle started")
c1=Vehicle('maruthi','1990')
print(c1.name)
c1.start()

maruthi
maruthi Vehicle started

In [2]:
class DS6:
    def __init__(selfer,student,faculty,enemy):
        selfer.student=student
        selfer.faculty=faculty
        selfer.enemy=enemy
    #def hi(self):
        print(selfer.student,"Class started")
        print(selfer.enemy,'is my enemy')
        print(selfer.faculty,'IS A FACULTY')
c1=DS6('biben','anjana miss','Geo')
print(c1.student)
print(c1.faculty)
print(c1.enemy)
#c1.hi()

biben Class started
Geo is my enemy
anjana miss IS A FACULTY
biben
anjana miss
Geo

In [3]:
c1 = DS6('biben', 'anjana miss', 'Geo')
print(c1.student)
print(c1.faculty)
print(c1.enemy)

biben Class started
Geo is my enemy
anjana miss IS A FACULTY
biben
anjana miss
Geo

In [4]:
class student:
    grace_mark=14
    def __init__(self,name,sid,mark1,mark2,mark3):
        self.name=name
        self.sid=sid
        self.mark1=mark1
        self.mark2=mark2
        self.mark3=mark3
    def find_total(self):
        self.total=self.mark1+self.mark2+self.mark3+student.grace_mark
        print("{} your total mark is {}".format(self.name,self.total))
    @classmethod
    def change_grace_mark(cls,grace_mark):
        cls.grace_mark=cls.grace_mark+grace_mark
        
s1=student('Ram',12,25,30,12)
s2=student('Ravi',15,18,24,32)
student.change_grace_mark(19)
s1.find_total()
print(s2.grace_mark)
s2.find_total()

Ram your total mark is 100
33
Ravi your total mark is 107

In [5]:
class account:
    def __init__(self,accnt_num,accnt_blnce):
        self.accnt=accnt_num
        self.blnce=accnt_blnce
    def withdraw(self,amount):
        if self.blnce-amount>=0:
            print("you can withdraw amount")
            self.blnce=self.blnce-amount
        else:
            print("withdraw failed")
    def display(self):
        print(self.accnt,"your balance is ",self.blnce)
accnt1=account(1233455,10000)
accnt1.withdraw(5000)
accnt1.display()
accnt2=account(21545216,10000)
accnt2.withdraw(11000)
accnt2.display()

you can withdraw amount
1233455 your balance is  5000
withdraw failed
21545216 your balance is  10000

In [6]:
from datetime import date
class student:
    def __init__(self,name,age): #intialising the attribute
        self.name=name
        self.age=age
    def display(self):
        print("name: {}\nage:{}".format(self.name,self.age))
    @classmethod
    def find_age(cls,name,yob):
        return cls(name,(date.today().year-yob))
s1=student('biben',26)
s2=student.find_age('john',1987)
s1.display()
s2.display()

name: biben
age:26
name: john
age:36

1. Write a Python class Employee with attributes like emp_id, emp_name, emp_salary, and
emp_department and methods like calculate_emp_salary, emp_assign_department, and
print_employee_details.
Sample Employee Data:
"ADAMS", "E7876", 50000, "ACCOUNTING"
"JONES", "E7499", 45000, "RESEARCH"
"MARTIN", "E7900", 50000, "SALES"
"SMITH", "E7698", 55000, "OPERATIONS"

In [17]:
class Employee:
    def __init__(self,emp_id,emp_name,emp_salary,emp_department):
        self.emp_id=emp_id
        self.emp_name=emp_name
        self.emp_salary=emp_salary
        self.emp_department=emp_department
    def display(self):
        print(self.emp_id,self.emp_name,self.emp_salary,self.emp_department)
        
s1=Employee('E7876','ADAMS',50000,'ACCOUNTING')
s2=Employee('E7499','jones',45000,'RESEARCH')
s3=Employee('E7900','MARTIN',50000,'SALES')
s4=Employee('E7698','SMITH',55000,'OPERATIONS')
s1.display()
s2.display()
s3.display()
s4.display()

E7876 ADAMS 50000 ACCOUNTING
E7499 jones 45000 RESEARCH
E7900 MARTIN 50000 SALES
E7698 SMITH 55000 OPERATIONS

In [28]:
class Employee:
    def __init__(selv,emp_row,emp_id,emp_name,emp_salary,emp_department,emp_nationality):
        selv.emp_row=emp_row
        selv.emp_id=emp_id
        selv.emp_name=emp_name
        selv.emp_salary=emp_salary
        selv.emp_department=emp_department
        selv.emp_nationality=emp_nationality
    def calculate_emp_salary(selv,amount):
        print("id: {}\nname: {}\nsalary:{}\ndepartment:{}".format(selv.row,selv.id,selv.name,selv.salary,selv.department))
    def display(selv):
        print(selv.emp_id,selv.emp_name,selv.emp_salary,selv.emp_department,selv.emp_nationality)
s0=Employee('row','ID', 'NAME','SALARY','DEPARTMNENT','NATIONALITY')      
s1=Employee(0,'E7876','ADAMS',50000,'ACCOUNTING','INDIAN')
s2=Employee(1,'E7499','jones',45000,'RESEARCH','CHINESE')
s3=Employee(2,'E7900','MARTIN',50000,'SALES','KOREAN')
s4=Employee(3,'E7698','SMITH',55000,'OPERATIONS','JAPANESE')
s5=Employee(4,'cek15c4rf5s014','biben',170926,'MAINTAINANCE','INDIAN')
s0.display()
s1.display()
s2.display()
s3.display()
s4.display()
s5.display()

ID NAME SALARY DEPARTMNENT NATIONALITY
E7876 ADAMS 50000 ACCOUNTING INDIAN
E7499 jones 45000 RESEARCH CHINESE
E7900 MARTIN 50000 SALES KOREAN
E7698 SMITH 55000 OPERATIONS JAPANESE
cek15c4rf5s014 biben 170926 MAINTAINANCE INDIAN